{
    "footer": {
        "showfooter": true,
        "footer": "default",
        "operatoremail": "operator@example.com"
    },
    "menuitems": [
        {
            "FAQ": "faq.html"
        },
        {
            "About": "about.html"
        }
    ],
    "default_chunksize_bytes": 1048576
}